/* Basic style & theme*/
body {
    font-family: sans-serif;
}

p {
    text-align: justify;
}

code {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0 0.2em;
}

pre {
    padding: 0.5em 1.5em;
    background-color: #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* Devevlopment helpers */

.debug_red   { background-color: rgba(255,0,0,0.5); }
.debug_green { background-color: rgba(0,255,0,0.5); }
.debug_blue  { background-color: rgba(0,0,255,0.5); }


