/*
** Base layout:
**   Grid layout + vertical sizing classes sized to match
*/

/* Grid layout based on (http://960.gs/) */
@import url(grid.css);

/* Vertical classes */

.vert_1,
.vert_2,
.vert_3,
.vert_4,
.vert_5,
.vert_6,
.vert_7,
.vert_8,
.vert_9,
.vert_10,
.vert_11,
.vert_12 {
    margin-top: 10px;
    margin-bottom: 10px;
}


.container_12 .vert_1 { height:60px; }
.container_12 .vert_2 { height:140px; }
.container_12 .vert_3 { height:220px; }
.container_12 .vert_4 { height:300px; }
.container_12 .vert_5 { height:380px; }
.container_12 .vert_6 { height:460px; }
.container_12 .vert_7 { height:540px; }
.container_12 .vert_8 { height:620px; }
.container_12 .vert_9 { height:700px; }
.container_12 .vert_10 { height:780px; }
.container_12 .vert_11 { height:860px; }
.container_12 .vert_12 { height:940px; }

/* Dev. helpers */

.debug_red { background-color: rgba(255,0,0,0.5); }
.debug_green { background-color: rgba(0,255,0,0.5); }
.debug_blue { background-color: rgba(0,0,255,0.5); }

/* Log block */
.block.log {
    overflow: auto;
}
